body{
    background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%);
}
.country{
    background: linear-gradient(to top right, #ffff99 0%, #003300 100%);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sitename{
    font-family: 'Lobster', cursive;
}